#firstBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    
    
}

#title1{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#userName{
    display: flex;
    justify-content: center;
    margin-left: 39%;
    margin-top: 20px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
}

#publicacion{
    display: flex;
    justify-content: center;
    margin-left: 39%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 300px;
    height: 120px
}

#publicarBtn{
    display: flex;
    justify-content: center;
    margin-left: 46%;
    background-color: darkcyan;
    width: 100px;
    height: 30px;
    padding: 0.4%;
    color: white;
    border-radius: 10px;
}

#secondBlock{
    display: flex;
    justify-content: center;
    /*margin-left: 40%;*/
}

#commentGlobe{
    display: flex;
    flex-direction: column;
}

.respGnralContainer{
    margin-top: 20px;
}

