#firstBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    
    
}

#title1{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#userName{
    display: flex;
    justify-content: center;
    margin-left: 39%;
    margin-top: 20px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
}

#publicacion{
    display: flex;
    justify-content: center;
    margin-left: 39%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 300px;
    height: 120px
}

#publicarBtn{
    display: flex;
    justify-content: center;
    margin-left: 46%;
    background-color: darkcyan;
    width: 100px;
    height: 30px;
    padding: 0.4%;
    color: white;
    border-radius: 10px;
}

#secondBlock{
    display: flex;
    justify-content: center;
    /*margin-left: 40%;*/
}

#commentGlobe{
    display: flex;
    flex-direction: column;
}

.respGnralContainer{
    margin-top: 20px;
    border-radius: 10px;
}

.userNamePub{
    margin-left: 75%;
    font-size: 13px;

}

.containerFeedPub{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-top: 10px;
    margin-bottom: 5px;
    background-color: rgb(199, 199, 199);
}

.respGnralContainer{
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    width: 400px;
    background-color: rgb(238, 238, 238);
}

.publitext{
    text-align: center;
}

.comentContainer{
    background-color:  rgb(212, 212, 212);
    margin-bottom: 5px;
}

.InputAndBtnResp{
    display: flex;
    
}

.textRespuesta{
    width: 80%;
}

.responderBtn{
    background-color: darkcyan;
    width: 20%;
    color: white;
}



